1. Switch values of two integers

In [14]:
n1 = 20
n2 = 30

# n1,n2 = n2,n1
# print(n1)
# print(n2)

temp = n1
n1 = 20

n1 = n2
n1 = 30

n2 = temp
n2 = 20

print(n1)
print(n2)

30
20

2. Switch values of two strings (characters)

In [15]:
char1 = "hello"
char2 = "java"

char1 = temp
temp = "hello"

char1 = char2
char1 = "java"

char2 = temp
char2 = "hello"

print(char1)
print(char2)

java
hello

3. Switch one string value with one integer value

In [17]:
n1 = 200
char2 = "java"

n1 = temp
temp = 200

n1 = char2
n1 = "java"

char2 = temp
char2 = 200

print(n1)
print(char2)

java
200

Banking and Transactions
5. Update balance after deposit
Initial balance: current_balance = 10000
Deposit amount: deposit_balance = 5000
Output:
‚óã Before deposit: current_balance = 10000
‚óã After deposit: current_balance = 15000

In [23]:
current_balance = 10000
deposit_balance = 5000

print(f"Before deposit: {current_balance}")
print(f"After deposit: {current_balance + deposit_balance}")

Before deposit: 10000
After deposit: 15000

6. Update balance after withdrawal
Before: balance = 12000
Withdrawal: 3000

After: ?

In [24]:
balance = 12000
Withdrawal= 3000

print(f"After withdrawal balance: {balance - Withdrawal} ")

After withdrawal balance: 9000

7. Increase shopping cart items by 3
Before: cart_items = 5
After: ?

In [25]:
cart_items = 5
additem = 3

print(f"After added the item: {cart_items + additem}")

After added the item: 8

8. Apply a 20% discount to a price
Before: price = 1000
After: ?

In [32]:
Beforeprice = 1000
discont = 20

discont_price = (Beforeprice * discont)//100
# print(discont_price)
print(f"After apply a 20% discount to a price: {Beforeprice - discont_price} ")

After apply a 20% discount to a price: 800

Academic Calculations
9. Calculate student percentage
Input: obtain_marks = 430, out_of = 500
Output: Percentage = ?

In [35]:
obtain_marks = 430
out_of = 500

print(f"student Percentage: {(obtain_marks/out_of)*100}")

student Percentage: 86.0

10.Calculate total and average of 4 subjects
Input Example:
‚óè Subject 1: 80
‚óè Subject 2: 75
‚óè Subject 3: 90
‚óè Subject 4: 85

In [42]:
Subject_1 = 80
Subject_2 = 75
Subject_3 = 90
Subject_4 = 85
totalMarks = Subject_1 + Subject_2 + Subject_3 + Subject_4
print(f"total marks of four subjects: {totalMarks}")
print(f"average of four subjects: {totalMarks/4}")

total marks of four subjects: 330
average of four subjects: 82.5

11. Calculate average of 3 numbers
Input: num1 = 25, num2 = 35, num3 = 45
Output: Average = ?

In [45]:
num1 = 25
num2 = 35
num3 = 45

totalNumber = num1 + num2 + num3

print(f"average of three numbers: {totalNumber/3}")

average of three numbers: 35.0

Finance & Business Calculations

12.Calculate profit or loss percentage
Input: cost_price = 500, selling_price = 600
Output: Profit or Loss = ?

In [47]:
cost_price = 500
selling_price = 600

profit = selling_price - cost_price
profitPer = (profit/cost_price)*100

print(f"Profit price is: {profit}")
print(f"Profit percentage: {profitPer}")

Profit price is: 100
Profit percentage: 20.0

13. Calculate simple interest
Input: principal = 10000, rate = 5, time = 2
Output: Simple Interest = ?

In [48]:
principal = 10000
rate = 5
time = 2
simpleInterest = (principal * rate * time)/100

print(f"simple intereset: {simpleInterest}")

simple intereset: 1000.0

14.Calculate compound interest
Input: principal = 10000, rate = 5, time = 2
Output: Compound Interest = ?

In [50]:
principal = 10000
rate = 5
time = 2

amount = principal * (1 + rate/100) ** time
# print(amount)
print(f"Compound interest: {amount - principal}")

11025.0
Compound interest: 1025.0

15.Calculate tax on income
Input: income = 500000, tax_rate = 10
Output: Tax = ?

In [11]:
income = 500000
tax_rate = 10 

tax_amount = (10/100)*500000
print(f"After calculate amount tax on income is: {tax_amount}")

After calculate amount tax on income is: 50000.0

16.Calculate percentage increase or decrease
Input: initial_value = 200, final_value = 250
Output: Percentage Change = ?

In [19]:
initial_value = 200
final_value = 250

profit = final_value - initial_value
Percentage = (profit/initial_value)*100
print(f"Percentage Change: {Percentage}")

Percentage Change: 25.0

Conversions
17. Convert boolean to integer
Input: True
Output: ?

In [23]:
a = True
print(int(a))

1

18.Convert float to string
Input: 45.67
Output: ?

In [44]:
x_float = 45.67
my_str = str(x_float)
print(type(my_str))

<class 'str'>

19.Convert 20¬∞C to Fahrenheit
Input: 20¬∞C
Output: ?

In [38]:
#F = (9/5 * C) + 32
num_c = 20
cel_to_fah = (9/5 * num_c) + 32
print(f"Convert 20¬∞C to Fahrenheit: {cel_to_fah}F")

Convert 20¬∞C to Fahrenheit: 68.0F

20. Convert 50¬∞F to Celsius
Input: 50¬∞F
Output: ?

In [39]:
# The formula to convert Fahrenheit to Celsius is: ¬∞C = (¬∞F - 32) * 5/9. 
num_f = 50
fah_to_cel = (num_f - 32) * 5/9
print(f"Convert 50¬∞F to Celsius: {fah_to_cel}C")

Convert 50¬∞F to Celsius: 10.0C

21.Convert integer to binary
Input: 25
Output: ?

In [48]:
x_int = 25
my_binary = bin(x_int)
print(my_binary)

0b11001

Geometry
21. Calculate area of a triangle
Input: base = 10, height = 6
Output: Area = ?

In [52]:
#Area = (1/2) * base * height.

base = 10
height = 6

area_value = (1/2) * base * height
print(f"Area of a triangle is: {area_value}")

Area of a triangle is: 30.0

22.Calculate perimeter of a square
Input: side = 9
Output: Perimeter = ?

In [53]:
# P=4a

side = 9
p_perimeter = 4 * side
print(f"perimeter of a square is: {p_perimeter}")

perimeter of a square is: 36

23.Calculate diameter of a circle
Input: radius = 14
Output: Diameter = ?

In [55]:
# The formula for the diameter of a circle is d = 2r

radius = 14
radius_value = 2*radius
print(f"Diameter of a circle is: {radius_value}")

Diameter of a circle is: 28

24.Calculate volume of a cube
Input: side = 5
Output: Volume = ?

In [56]:
#The formula for the volume of a cube is V=a^3

side = 5
cude_val = side * side * side

print(f"The volume of a cube is: {cude_val}")

The volume of a cube is: 125

25.Calculate surface area of a cuboid
Input: l = 4, b = 3, h = 2
Output: Surface Area = ?

In [65]:
# The total surface area of a cuboid is calculated using the formula 2(lb + bh + hl)

l = 4
b = 3
h = 2

surface_area = 2*(l*b + b*h + h*l)
print(f"Surface area of a cuboid is: {surface_area}")

Surface area of a cuboid is: 52

Mathematical Expressions

26.Square of sum: (x + y)2
Input: x = 5, y = 7
Output: ?

In [69]:
x = 5
y = 7

sq_sum = (x + y)**2
print(f"Square of sum is: {sq_sum}")

Square of sum is: 144

27.Simplify expression: x2 - 4x + 4
Input: x = 3
Output: ?

In [70]:
x = 3
exp = x**2 - 4*x + 4
print(f"Simplify expression is: {exp}")

Simplify expression is: 1

25.Evaluate: (a + b)(a - b)
Input: a = 6, b = 2
Output: ?

In [71]:
a = 6
b = 2
eval_val = (a + b) * (a - b)

print(f"Evaluate value is: {eval_val}")

Evaluate value is: 32

29.Sum of cubes: a3 + b3
Input: a = 1, b = 2
Output: ?

In [76]:
a = 1
b = 2
val_cube = a**3 + b**3
print(f"Sum of cubes is: {val_cube}")

Sum of cubes is: 9

30.Simplify: (x - y)2
Input: x = 10, y = 6
Output: ?

In [77]:
x = 10
y = 6

eq_value = (x - y) ** 2
print(f"Simplify equation is: {eq_value}")

Simplify equation is: 16

31.Difference of cubes: x3 - y3
Input: x = 4, y = 1
Output: ?

In [78]:
x = 4
y = 1

cube_val = x**3 - y**3
print(f"Cube value is: {cube_val}")

Cube value is: 63

32.If user input is:
Name: Dev
Age: 25
City: Jaipur
Hobby: Cooking

Then Output is :
Meet Dev, a 25-year-old enthusiast from Jaipur.

When not busy with daily tasks, Dev loves spending time cooking.
Life in Jaipur keeps Dev energetic and curious every single day.
With coding as a passion, the future looks creative and inspiring for
Dev in the Jaipur City.

In [9]:
# name = Dev
# age = 25
# city = Jaipur
# hobby = Cooking


name = input(f"Enter your name: ")
print(name)
age = input(f"Enter your age: ")
print(age)
city = input(f"Enter your city: ")
print(city)
hobby = input(f"Enter your hobby: ")
print(hobby)

value = print("Meet" ,name, "a" ,age, "year old enthusiast from" ,city,"."
        "When not busy with daily tasks", name, "loves spending time cooking."
        "Life in" ,city, "keeps" ,name, "energetic and curious every single day."
        " With coding as a passion, the future looks creative and inspiring for"
        ,name, "in the" ,city, "City.")

Enter your name:  rj

rj

Enter your age:  25

25

Enter your city:  ldh

ldh

Enter your hobby:  crr

crr
Meet rj a 25 year old enthusiast from ldh .When not busy with daily tasks rj loves spending time cooking.Life in ldh keeps rj energetic and curious every single day. With coding as a passion, the future looks creative and inspiring for rj in the ldh City.

33.Create a Python program that asks the user for the following:
‚óè Full Name
‚óè Profession
‚óè Favorite Quote
‚óè Years of Experience
Output format:
------------------------------------------------
Name : <Full Name>
Profession : <Profession>
Experience : <Years of Experience> years
Quote : "<Favorite Quote>"

In [1]:
full_name = input(f"Enter your full name: ")
print(full_name)
profession = input(f"Enter your profession: ")
print(profession)
experience = input(f"Enter your experience: ")
print(experience)
Quote = input(f"Write your favorite quote: ")

Enter your full name:  Rajvir

Rajvir

Enter your profession:  data scientist

data scientist

Enter your experience:  2 year

2 year

Write your favorite quote:  har

34.Ask the user:
‚óè Movie Name
‚óè Viewer Name
‚óè Seat Number
‚óè Show Time
Output format:
üé¨ Movie Ticket Ô∏è
------------------------
Movie : <Movie Name>

Name : <Viewer Name>
Seat No : <Seat Number>
Time : <Show Time>
Enjoy the show!
------------------------

In [2]:
movie_name = input(f"Enter movie name: ")
print(movie_name)
viewer_name = input(f"Enter viewer name: ")
print(viewer_name)
seat_number = input(f"Enter seat number: ")
print(seat_number)
show_time = input(f"Enter show time: ")
print(show_time)

Enter movie name:  Black Panthor

Black Panthor

Enter viewer name:  rajvir

rajvir

Enter seat number:  23

23

Enter show time:  10:10

10:10