1. Write a Python program to find the sum of all elements in the list [10, 20, 30, 40, 50].

In [1]:
list1 = [10, 20, 30, 40, 50]
total = sum(list1)
print(total)

150

2. Write a Python program to display the odd and even elements from the list [10, 23, 11, 12, 33, 44, 2, 5, 6].

In [5]:
list1 = [10, 23, 11, 12, 33, 44, 2, 5, 6]

even_list = []
odd_list = []

for i in list1:
    if i % 2 == 0:
        even_list.append(i)
    else:
        odd_list.append(i)

print(f"Even numbers: {even_list}")
print(f"Odd numbers: {odd_list}")

Even numbers: [10, 12, 44, 2, 6]
Odd numbers: [23, 11, 33, 5]

3. Write a Python program to count the odd and even numbers in the list [10, 23, 11, 12, 33, 44, 2, 5, 6].

In [7]:
list1 = [10, 23, 11, 12, 33, 44, 2, 5, 6]

even_list = 0
odd_list = 0

for i in list1:
    if i % 2 == 0:
        even_list +=1
    else:
        odd_list +=1

print(f"Even numbers: {even_list}")
print(f"Odd numbers: {odd_list}")

Even numbers: 5
Odd numbers: 4

4. Write a Python program to interchange the first and last elements in the list [10, 23, 11, 12, 33, 44, 2, 5, 6].

In [9]:
list1 = [10, 23, 11, 12, 33, 44, 2, 5, 6]

list1[0], list1[-1] = list1[-1], list1[0]

print(list1)

[6, 23, 11, 12, 33, 44, 2, 5, 10]

5. Write a Python program to duplicate all the items in the list li = [1, 2, 3],
such that the result is:
output = [1, 2, 3, 1, 2, 3, 1, 2, 3].

In [12]:
li = [1, 2, 3]
new_li = li * 3
print(new_li)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

6. Find the smallest element in the list [10, 23, 11, 12, 33, 44, 2, 5, 6].

In [13]:
li = [10, 23, 11, 12, 33, 44, 2, 5, 6]
min_li = min(li)
print(min_li)

2

7. Find the greatest element in the list [89, 23, 24, 2, 55, 54, 64].

In [14]:
li = [89, 23, 24, 2, 55, 54, 64]
max_li = max(li)
print(max_li)

89

8. Find the repetitive elements in the list [1,2,3,4,56,1,22,23,33,23, 56].

In [15]:
li = [1, 2, 3, 4, 56, 1, 22, 23, 33, 23, 56]

duplicates = []
for i in li:
    if li.count(i) > 1 and i not in duplicates:
        duplicates.append(i)

print(f"Repetitive elements are: {duplicates}")

Repetitive elements are: [1, 56, 23]

9. Remove all the odd elements from the list [10, 23, 11,12,33,44,2,5, 6].

In [16]:
li = [10, 23, 11,12,33,44,2,5, 6]
new_li = []
for i in li:
    if i % 2 == 0:
        new_li.append(i)

print(f"new list without odd number is: {new_li}")

new list without odd number is: [10, 12, 44, 2, 6]

10.Find all non-repetitive elements in the list[1,2,3,4,56,1,22,23,33,23,56].

In [18]:
li = [1, 2, 3, 4, 56, 1, 22, 23, 33, 23, 56]

non_repetitive = []

for i in li:
    if li.count(i) == 1:
        non_repetitive.append(i)

print(f"Non repetitive elements are: {non_repetitive}")

Non repetitive elements are: [2, 3, 4, 22, 33]

11.Write a Python program to duplicate all items in the listl = [1, 2, 3] to
produce the result:
result = [1, 2, 3, 1, 2, 3, 1, 2, 3].

In [23]:
listl = [1, 2, 3]
result = listl * 3
print(result)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

12.Find the second greatest element in the list [89, 23, 24, 2, 55, 54, 64].

In [24]:
li = [89, 23, 24, 2, 55, 54, 64]

sorted_li = sorted(li, reverse=True)

second_greatest = sorted_li[1]
print(f"Second greatest element is: {second_greatest}")

Second greatest element is: 64

13.Reverse the list [1, 2, 3, 4, 56, 1, 22, 23, 33, 23, 56].

In [25]:
li = [1, 2, 3, 4, 56, 1, 22, 23, 33, 23, 56]
li.reverse()
print(li)

[56, 23, 33, 23, 22, 1, 56, 4, 3, 2, 1]

14.Arrange the list [1, 2, 3, 4, 56, 1, 22, 23, 33, 23, 56] in
ascending order.

In [26]:
li = [1, 2, 3, 4, 56, 1, 22, 23, 33, 23, 56]
print(sorted(li))

[1, 1, 2, 3, 4, 22, 23, 23, 33, 56, 56]

15.Arrange the list [1, 2, 3, 4, 56, 1, 22, 23, 33, 23, 56] in
descending order.

In [39]:
li = [1, 2, 3, 4, 56, 1, 22, 23, 33, 23, 56]
li.sort(reverse=True)
print(li)

[56, 56, 33, 23, 23, 22, 4, 3, 2, 1, 1]

16.Write a Python program to print all the vowels present in the given list of strings
["Dreamer", "infotech"].

In [40]:
words = ["Dreamer", "infotech"]
vowels = "aeiouAEIOU"
found_vowels = []

for word in words:
    for ch in word:
        if ch in vowels:
            found_vowels.append(ch)

print(f"Vowels in the list: {found_vowels}")

Vowels in the list: ['e', 'a', 'e', 'i', 'o', 'e']

17.Write a Python program to take input from the user to create a list of elements.
The user should input each element of the list one by one. Create a list with
these elements (maximum of 5 elements).

In [42]:
user_list = []

for i in range(5):
    element = input(f"Enter element {i+1}: ")
    user_list.append(element)

print("Final list is:", user_list)

Enter element 1:  Apple
Enter element 2:  samsun
Enter element 3:  1525
Enter element 4:  365
Enter element 5:  "Hello"

Final list is: ['Apple', 'samsun', '1525', '365', '"Hello"']

18.Write a Python program to generate a list of numbers in reverse order from 10 to
1 using list comprehension.

In [46]:
li = [i for i in range(10, 0, -1)]
print(li)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

19.Create a list of square numbers from 1 to 10 using list comprehension.

In [48]:
li = [i**2 for i in range(11)]
print(li)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

20.Create a list of even numbers from 1 to 10 using list comprehension.

In [50]:
li = [i for i in range(11) if i%2==0]
print(li)

[0, 2, 4, 6, 8, 10]

21.Filter strings from the list language = ['python', 'php', 'java',
'c++', 'javascript', 'ruby'] that contain a specific letter provided by
the user, using list comprehension.

In [54]:
language = ['python', 'php', 'java', 'c++', 'javascript', 'ruby']

ch = input("Enter a letter to filter: ")

li = [word for word in language if ch in word]
print("Filtered list:", li)

Enter a letter to filter:  r

Filtered list: ['javascript', 'ruby']