In [ ]:
# _ _ _ _ _ _ _ _ _ _ _ _ Function in python
# 1. Every function has their own purpose.
# 2. Function is a block of code.
# 3. Function programming is very easy to find and debug the error.
# 4. Function are reusable as per need.

# Function type function
# 1. In-built method
# 2. UDF (User Defined Function)

# Parameters and arguments (args)
# 1. Default parameters
# 2. Positional arguments
# 3. Keyword arguments
# 4. Arbitrary arguments

# Categories of function
# 1. Take nothing return nothing
# 2. Take nothing return something
# 3. Take something return nothing
# 4. Take something return something

# lambda function (anonymous function)
# HOF : Higher order functions(filter(),map(),reduce())

In [7]:
# 1. Take nothing return nothing
def add():
    a=10
    b=20
    c=a+b
    print(c)
add()

30

In [5]:
# parameter and arguments
# positional args.
def odd_even(name,age):
    print(f"name: {name}")
    print(f"age: {age}")
odd_even(10,"raj")

name: 10
age: raj

In [ ]:
# Defination
def fun():
    print()

In [1]:
# positional args.
# default parameter
def odd_even(a=0, b=1):
    print(f"a : {a}")
    print(f"b : {b}")
odd_even(200,300)

a : 200
b : 300

In [9]:
# Keyword args
def stu_profile(SID, SNAME, SROLL, SMOB):
    print(f"student id: {SID}")
    print(f"student name: {SNAME}")
    print(f"student roll: {SROLL}")
    print(f"student mob: {SMOB}")

stu_profile(SNAME="Rajvir", SROLL=12, SMOB=2565453685, SID=11)

student id: 11
student name: Rajvir
student roll: 12
student mob: 2565453685

In [4]:
# Keyword args
def stu_profile(**kwargs):
    print(f"student id: {kwargs.get("SID","N/A")}")
    print(f"student name: {kwargs.get("SNAME","N/A")}")
    print(f"student roll: {kwargs.get("SROLL","N/A")}")
    print(f"student mob: {kwargs.get("SMOB","N/A")}")

stu_profile(SMOB=8956235478,SNAME="Rajvir",SID=125, SROLL=225)

student id: 125
student name: Rajvir
student roll: 225
student mob: 8956235478

ðŸ”¹ What is a Function?

    A function is a reusable block of code that performs a specific task.

    Instead of writing the same code again and again, we put it inside a function and call it whenever needed.

In [1]:
# ðŸ”¹ Defining and Calling a Function
def greet():
    print("Hello, Welcome to Python!")

# function call
greet()

Hello, Welcome to Python!

ðŸ”¹ Function with Parameters
    You can pass data to a function using parameters (arguments).

In [5]:
def greet(name):
    print("Hello,", name)

greet("Rajvir")

Hello, Rajvir

ðŸ”¹ Function with Return Value

     Functions can return a result using return.

In [6]:
def add(a, b):
    return a + b

result = add(10, 5)
print(result)

15

ðŸ”¹ Default Arguments

    If no value is passed, a default is used.

In [9]:
def greet(name="Guest"):
    print("Hello,", name)

# greet()   
greet("Rajvir")

Hello, Rajvir

ðŸ”¹ Keyword Arguments

    Arguments can be passed using key = value.

In [11]:
def student(name, age):
    print(f"Name: {name}, Age: {age}")

student(age=25, name="Rajvir")

Name: Rajvir, Age: 25

ðŸ”¹ Variable-Length Arguments

    Sometimes, you donâ€™t know how many arguments will be passed.

    1. *args â†’ non-keyword variable arguments (tuple)

In [14]:
def add(*numbers):
    return sum(numbers)

print(add(1, 2, 3, 4, 5))

15

2. **kwargs â†’ keyword variable arguments (dictionary)

In [20]:
def display(**details):
    for key, value in details.items():
        print(key, ":", value)

display(name="Rajvir", age=25, city="Ludhiana", education="BAE")

name : Rajvir
age : 25
city : Ludhiana
education : BAE

ðŸ”¹ Lambda Functions (Anonymous Functions)

    Short, one-line functions without def.

In [24]:
square = lambda x: x*x
print(square(12))

144

ðŸ”¹ Scope of Variables

1. Local variable â†’ Defined inside a function, canâ€™t be accessed outside.

2. Global variable â†’ Defined outside a function, accessible everywhere.

In [28]:
x = 10   # global

def func():
    y = 5   # local
    print("Inside function:", x, y)

func()
print("Outside function:", x)

Inside function: 10 5
Outside function: 10

In [41]:
li = [1020, 3309, 4405, 5001]
li = [int(str(x).replace('0','')) for x in li]
print(li)

[12, 339, 445, 51]

In [61]:
li = [3, 7, 2, 6]
odd_li = [x for x in li if x % 2 != 0]
even_li = [x for x in li if x % 2 == 0]

new_li = []
for o , e in zip(odd_li,even_li):
    new_li.append(o)
    new_li.append(e)
print(new_li)

[3, 2, 7, 6]

In [ ]:
str1 = "abcdeabcf"

In [9]:
# 4. Arbitrary arguments
import math
def multiply(*n):
    # print(n)
    print(math.prod(n))

multiply(10,20,30,40)

240000

In [12]:
# 4. Arbitrary arguments
import math
def multiply(*n):
    m=1
    for i in n:
        m=m*i
    print(m)
            
multiply(10,20,30,40)

240000

In [26]:
# 4. Take something return something
def my_money(price):
    return price

res = my_money(100)
print(res)

100

In [27]:
# 3. Take something return nothing
def my_money(price):
    print(price)
my_money(100)

100

In [29]:
# 2. Take nothing return something
def my_money():
    a = 10
    b = 30
    return a+b
r = my_money()
print(r)

40

In [34]:
# Global and local scope
user_pass="raj@1234"
def login():
    print(user_pass)
login()
# print(user_pass)

raj@1234

In [2]:
# Global and local scope

def login():
    user_pass="raj@1234"
    print(user_pass)
login()
# print(user_pass)

raj@1234

In [42]:
# lambda function (anonymous function).
s = lambda :10+20
print(s())

30

In [1]:
# Wap to check number is given by user is odd or even using lambda 
check= lambda x : "Even" if x%2 ==0 else "Odd"

print(check(10))

Even

In [10]:
marks=[12,89,45,90,44,33]
res=lambda x : ([i for i in x if i>=50],[i for i in x if i<=50])
print(res(marks))
type(res(marks))

([89, 90], [12, 45, 44, 33])

tuple

In [6]:
numbers = [10, 40, 20, 50, 30]


second_highest = max(numbers, key=lambda x: x if x != max(numbers) else float('-inf'))

print("Second highest number:", second_highest)

Second highest number: 40

In [ ]:
# HOF : higher order funtions(filter(),map(),reduce())
# Higher order funtions are funtions that take another function as its argument and
# that function passed as argument known as callback function.
# return value as list , tuple, set
# filter(fun, iterator)
# map(fun,iterator)
# reduce(fun, iterator)

In [9]:
def check_pass(n):
    if n >= 50:
        return n
marks=[12,89,45,90,44,33]
res = (list(filter(check_pass,marks)))
print(res)

[89, 90]

In [31]:
print((list(filter(lambda x : x>=50,(12,89,45,90,44,33)))))
# print((list(filter(lambda x:((x>=50),(x<=50)),(12,89,45,90,44,33)))))

[89, 90]

In [44]:
fruits = ["Apple", "Banana","orange","papaya","kiwi","grapes"]
print((list(filter(lambda x : "e" in x.lower() ,fruits))))

['Apple', 'orange', 'grapes']

In [45]:
user = input("Enter your fruit name: ")
fruits = ["Apple", "Banana", "orange", "papaya", "kiwi", "grapes"]

result = list(filter(lambda x: user.lower() in x.lower(), fruits))

print(result if result else "no fruit found")

Enter your fruit name:  banana

['Banana']

In [4]:
# map(fun, iterator)
marks = [20, 45, 78, 90, 44, 22]
new_marks=map(lambda x : x+10, marks)
print(list(new_marks))

[30, 55, 88, 100, 54, 32]

In [12]:
# wap to transform the given array  [20, 45, 78, 90, 44, 22] to [0, 0, 0, 0, 0, 0]
marks = [20, 45, 78, 90, 44, 22] 
new_marks=map(lambda x : x % x, marks)
print(list(new_marks))

[0, 0, 0, 0, 0, 0]

In [ ]:
# [0, 0, 0, 0, 0, 0] zeroes
# [1, 1, 1, 1, 1, 1] ones
# [-1, -1, -1, -1, -1, -1] negative ones

In [16]:
import random
emp = ["aman", "shubham", "shivam", "kamal", "abhishek"]
tags = ["HR", "DEVELOPER", "MANAGER", "TL", "DOTNETDEV"]
new_listr = []
# ["aman-TL", "shubham-DEVELOPER", "shivam-shivam", "kamal-TL", "abhishek-DOTNETDEV"]
random.shuffle(tags)
for i in range(len(emp)):
    new_listr.append(emp[i]+"-"+tags[i-1])
print(new_listr)

['aman-MANAGER', 'shubham-DOTNETDEV', 'shivam-HR', 'kamal-TL', 'abhishek-DEVELOPER']

In [15]:
import random
emp = ["aman", "shubham", "shivam", "kamal", "abhishek"]
tags = ["HR", "DEVELOPER", "MANAGER", "TL"]
random.choice(tags)
res=[f"{i}-{j}" for i, j in zip(emp,tags)]
print(res)

['aman-HR', 'shubham-DEVELOPER', 'shivam-MANAGER', 'kamal-TL']

In [25]:
import random
emp = ["aman", "shubham", "shivam", "kamal", "abhishek"]
tags = ["HR", "DEVELOPER", "MANAGER", "TL", "DOTNET"]
# new_list = []
random.shuffle(tags)
new_list=list(map(lambda i:emp[i]+"-"+tags[i], range(len(emp))))
print(new_list)

['aman-DEVELOPER', 'shubham-DOTNET', 'shivam-TL', 'kamal-HR', 'abhishek-MANAGER']

In [28]:
emp = ["aman", "shubham", "shivam", "kamal", "abhishek"]
#res = ["AMAN", "SHUBHAM", "SHIVAM", "KAMAL", "ABHISHEK"]

new_list = list(map(lambda x : x.upper(),emp))
print(new_list)

['AMAN', 'SHUBHAM', 'SHIVAM', 'KAMAL', 'ABHISHEK']

In [5]:
emp = ["AmaN", "shUBhAM", "SHIvam", "KAmaL", "abhISHEK"]

upper_counts = list(map(lambda name: sum(1 for ch in name if ch.isupper()), emp))
lower_counts = list(map(lambda name: sum(1 for ch in name if ch.islower()), emp))

new_list = [{"name": name, "upper": u, "lower": l} for name, u, l in zip(emp, upper_counts, lower_counts)]

new_list

[{'name': 'AmaN', 'upper': 2, 'lower': 2},
 {'name': 'shUBhAM', 'upper': 4, 'lower': 3},
 {'name': 'SHIvam', 'upper': 3, 'lower': 3},
 {'name': 'KAmaL', 'upper': 3, 'lower': 2},
 {'name': 'abhISHEK', 'upper': 5, 'lower': 3}]

In [12]:
res = ["AmaN", "shUBhAM", "SHIvam", "KAmaL", "abhISHEK"]
all_char = "".join(res)
upper = len(list(filter(lambda ch: ch.isupper(), all_char)))
lower = len(list(filter(lambda ch: ch.islower(), all_char)))
print(upper)
print(lower)

17
13

In [14]:
res = ["AMAN", "SHUBHAM", "SHIVAM", "KAMAL", "ABHISHEK"]
A="THE"
new_list = list(map(lambda a : a.replace("A","THE"), res))
new_list

['THEMTHEN', 'SHUBHTHEM', 'SHIVTHEM', 'KTHEMTHEL', 'THEBHISHEK']

In [45]:
product_list = ["samsung","iphone", "vivo", "apple", "oppo", "oneplus", "nothing", "realme"]
user_char="aiz"
for i in user_char:
    res = list(filter(lambda x :i in x,product_list))
    if res==[]:
        print(f"Product Unable to found with: {i}")
    else:
        print(f"Product with {i}:{res}")

Product with a:['samsung', 'apple', 'realme']
Product with i:['iphone', 'vivo', 'nothing']
Product Unable to found with: z