In [ ]:
# ---------------------- Tuble
# Defination and properties
# Creation
# Accessing 
# Modification
# slicing 
# Traversing
# Built-in-methods 
# Assignment

In [ ]:
# Defination and properties
# 1. Tuple is a data structure in python used to store multiple value of different data types.
# 2. Tuple value must be comma sepreated
# 3. Tuple are ordered indexed
# 4. Tuple can not be modified (immuatable)

In [1]:
myd1 = {'a':1,'b':2,'c':3,'d':4}
# print sum values
# print key with containing vowel
# print in reverse

myd2 = {'a':"1",'b':"2",'c':"3",'d':"4"}
# print sum values.

In [2]:
myd1 = {'a':1,'b':2,'c':3,'d':4}

for i in myd1.values():
    print(sum(i))
    i+=1

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [2]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
print(type(thistuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [4]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
# print(thistuple)
print(len(thistuple))

5

In [8]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
# thistuple = ("apple")
# print(type(thistuple))

<class 'tuple'>

In [11]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(type(tuple1))

<class 'tuple'>

In [12]:
tuple1 = ("abc", 34, True, 40, "male")

print(tuple1)

('abc', 34, True, 40, 'male')

In [15]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [16]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [21]:
thistuple = (25, 50, 45, "orange", "kiwi", "melon", "mango")
# print(thistuple[3:])
print(thistuple[:3])

(25, 50, 45)

In [25]:
thistuple = (25, 50, 45, "orange", "kiwi", "melon", "mango")
if "orange" in thistuple:
  print("Yes, 'orange' is in the fruits tuple")

Yes, 'orange' is in the fruits tuple

In [26]:
x = (25, 50, 45, "orange", "kiwi", "melon", "mango")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

(25, 'kiwi', 45, 'orange', 'kiwi', 'melon', 'mango')

In [28]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("grapes")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'grapes')

In [29]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [30]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [34]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [38]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < (len(thistuple)):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [39]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [40]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [49]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5, 7)

x = thistuple.count(8)

print(x)

2

In [48]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5, 7)

x = thistuple.index(8)

print(x)

3

In [9]:
import math

num1 = int(input("Enter your first number: "))
num2 = int(input("Enter your second number: "))

g = math.gcd(num1, num2)
nn = num1/g
nd = num2/g

print(f"numerator is: {nn} and denominator is: {nd}")

Enter your first number:  45
Enter your second number:  65

numerator is: 9.0 and denominator is: 13.0

What is a Tuple?

    A tuple is a collection data type in Python.
    It is ordered, immutable (cannot be changed after creation), and allows duplicate values.
    Tuples are written inside round brackets () and elements are separated by commas.

In [4]:
my_tuple = (10, 20, 30, 40)
print(my_tuple)

(10, 20, 30, 40)

Characteristics of Tuples

1. Ordered â†’ The elements have a defined order, and that order will not change.

In [10]:
t = (1, 2, 3)
# print(t[1:3])   
print(t[-1])

3

2. Immutable â†’ Once created, you cannot modify, add, or remove items.

In [13]:
t = (1, 2, 3)
# t[0] = 100  
# print(t)     TypeError: 'tuple' object does not support item assignment

3. Allows duplicates â†’ Tuples can have the same value multiple times.

In [15]:
t = (1, 2, 2, 3)
print(t)   # (1, 2, 2, 3)

(1, 2, 2, 3)

3. Can contain different data types â†’ Tuples can mix integers, strings, lists, etc.

In [16]:
t = (1, "hello", 3.5, [10, 20])
print(t)

(1, 'hello', 3.5, [10, 20])

In [23]:
# ðŸ”¹ Creating Tuples
t1 = (1, 2, 3)             # normal tuple
t2 = tuple([4, 5, 6])      # using tuple() function
t3 = (10,)                 # single element tuple (must use comma)
t4 = ()                    # empty tuple

# type(t1)

tuple

In [26]:
# ðŸ”¹ Accessing Tuple Elements
# 1. Indexing
t = (10, 20, 30, 40)
# print(t[0])   
print(t[-1])

40

In [27]:
# 2. Slicing
t = (10, 20, 30, 40, 50)
print(t[1:4])   # (20, 30, 40)
print(t[:3])    # (10, 20, 30)

(20, 30, 40)
(10, 20, 30)

In [29]:
# ðŸ”¹ Tuple Operations
# 1. Concatenation

a = (1, 2)
b = (3, 4)
print(a + b)

(1, 2, 3, 4)

In [31]:
# 2. Repetition
t = (1, 2)
print(t * 3)

(1, 2, 1, 2, 1, 2)

In [33]:
# 3. Membership
t = (10, 20, 30)
# print(20 in t)
print(50 not in t)

True

In [39]:
# ðŸ”¹ Tuple Methods
# Tuples have only two methods (since they are immutable):
t = (1, 2, 2, 3, 3, 3, 4)

# print(t.count(3))   
print(t.index(4))

6

In [42]:
# ðŸ”¹ Tuple Packing and Unpacking

# Packing: Assigning multiple values into a tuple.
# Unpacking: Extracting values into variables.

# Packing
t = (10, 20, 30)

# Unpacking
a, b, c = t
print(a, b, c)

10 20 30

In [45]:
# ðŸ”¹ Nested Tuples

# Tuples can contain other tuples.
t = (1, (2, 3), (4, 5, 6))
# print(t[1])     
print(t[2][1])

5