pandas

In [2]:
import pandas as pd

# df = pd.read_csv('data.csv')

# print(df.to_string())

In [9]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [10]:
print(pd.__version__)

2.3.2

In [17]:
import pandas as pd

a = [1, 7, 2]

# myvar = pd.Series(a)
# print(myvar)
# print(myvar[0])

myvar = pd.Series(a, index = ["x","y","z"])

# print(myvar)
print(myvar["y"])

7

In [19]:
# Key/Value Objects as Series
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

# myvar = pd.Series(calories)
myvar = pd.Series(calories, index = ["day1","day2"])

print(myvar)

day1    420
day2    380
dtype: int64

In [20]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [52]:
# Locate Row
import pandas as pd

data = {
  "calories": [440, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

# print(df) 
# print(df.tail(1))
# print(df.loc[0])
# print(df.loc[[0,1]])
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
# df 
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

In [49]:
# 1
# 1 2
# 1 2 3
# 1 2 3 4

In [62]:
# Load Files Into a DataFrame
import pandas as pd
path = r"C:\Users\Bittu Raj\Downloads\laptop_data.csv"
data = pd.read_csv(path)
df = pd.DataFrame(data)
# print(df.to_string)
# df
# print(pd.options.display.max_rows) 
# df.head()
# df.tail()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1303 non-null   int64
 1   Company           1303 non-null   object
 2   TypeName          1303 non-null   object
 3   Inches            1303 non-null   float64
 4   ScreenResolution  1303 non-null   object
 5   Cpu               1303 non-null   object
 6   Ram               1303 non-null   object
 7   Memory            1303 non-null   object
 8   Gpu               1303 non-null   object
 9   OpSys             1303 non-null   object
 10  Weight            1303 non-null   object
 11  Price             1303 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 122.3+ KB

Pandas - Cleaning Data

In [69]:
path = r"C:\Users\Bittu Raj\Downloads\data.csv"
data=pd.read_csv(path)
df=pd.DataFrame(data)
# new_df =df.dropna()
# print(new_df.to_string())
# df.dropna(inplace = True)
# df.fillna(130, inplace = True)
# df.fillna({"Calories": 130}, inplace=True)

Replace Using Mean, Median, or Mode

In [76]:
x = df["Calories"].mean()
df.fillna({"Calories": x}, inplace=True)
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]